
<form action="/session" class="signin" method="post">
  <h2> Log in </h2>
  <input type="text" name="email" placeholder="email id">
  <input type="password" name="password" placeholder="password">
  <button>log in</button>
</form>
