
<form class="signin" action="/create_account" method="post">
  <h2> Sign up </h2>
  <input type="text" name="fname" placeholder="First Name">
  <input type="text" name="lname" placeholder="Last Name">
  <input type="text" name="email" placeholder="Email id">
  <input type="password" name="password" placeholder="Password">
  <button>Sign in</button>
</form>
